<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>About</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>What is this?</h3>
            <p class="lead">Raspberry Pi Camera Uploader is a Dropbox app for automatically storing photos taken by Pi Camera Time-Lapse. <a href="/">This site</a> helps you link your Dropbox account and download the token file you will need save on your <a href="http://www.raspberrypi.org/help/what-is-a-raspberry-pi/">Raspberry Pi</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Pi Camera Time-Lapse?</h3>
            <p class="lead">This is project uses the Raspberry Pi and its <a href="http://www.raspberrypi.org/help/camera-module-setup/">Camera Module</a> to capture time-lapse image sequences. You can find out more, including how to install it and set it up, on <a href="//github.com/projectweekend/Pi-Camera-Time-Lapse">Github</a>.</p>
        </div>
    </div>
    <div class="row spacer">
        <div class="col-md-10 col-md-offset-1">
            <div class="github-card" data-github="projectweekend" data-width="400" data-height="150"></div>
            <script src="http://lab.lepture.com/github-cards/widget.js"></script>
        </div>
    </div>
</body>
</html>
