<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>Pi Camera Time-Lapse</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="lead">This is a companion Dropbox app for automatically storing photos taken by Pi Camera Time-Lapse on a Raspberry Pi. <a href="/">This site</a> will help you link your Dropbox account and download a token file you will need save on the Pi in order to enable this functionality. Complete installation instructions can be found on this project's <a href="//github.com/projectweekend/Pi-Camera-Time-Lapse">Github</a> page.</p>
        </div>
    </div>
    <div class="row spacer">
        <div class="col-md-10 col-md-offset-1">
            <div class="github-card" data-github="projectweekend" data-width="400" data-height="150"></div>
            <script src="//lab.lepture.com/github-cards/widget.js"></script>
        </div>
    </div>
</body>
</html>
