<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <div class="row spacer" >
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Howdy!</h1>
                <p>Looking to automatically send photos from <a href="https://github.com/projectweekend/Pi-Camera-Time-Lapse">Pi Camera Time-Lapse</a> to your <a href="https://www.dropbox.com">Dropbox</a>? Well then, you've come to the right place.</p>
                <div class="btn-toolbar">
                    <a class="btn btn-primary btn-lg" href="{{authorize_url}}">Get started</a>
                    <a class="btn btn-default btn-lg" href="/about">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
